* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(./images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    background-size: auto;
}

/* Navbar */

.web-title {
    display: flex;
    padding: 50px 75px;
}

/* Landing Page Content */

.landing-content {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 0px 0px;
    padding: 15px 65px;
}

.landing-content-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-content-left img {
    width: 95%;
}

.landing-content-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 35px;
}

.landing-content-right h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.25rem;
    max-width: 500px;
    color: #fff;
    margin-top: 25px;
}

.landing-content-right p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: #fff;
    line-height: 30px;
    margin-top: 25px;
}

.landing-content-right button {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    max-width: 250px;
    margin-top: 25px;
    background-color: #fff;
    padding: 15px 5px;
    border-radius: 35px;
    cursor: pointer;
    border-style: none;
    transition: background-color 0.35s;
}

.landing-content-right a {
    text-decoration: none;
    color: hsl(257, 40%, 49%);
}

.landing-content-right button:hover {
    background-color: hsl(300, 69%, 71%);
    color: #fff;
    border-style: none;
}

/* Footer */

footer {
    margin: 50px 0 35px 0;
    text-align: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

footer a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

/* Mobile Screen */

@media only screen and (max-width: 576px) {
    body {
        background: url(./images/bg-mobile.svg);
        background-color: hsl(257, 40%, 49%);
        background-size: auto;
    }

    /* Navbar */

    .web-title {
        display: flex;
        padding: 50px 35px;
    }

    /* Landing Page Content */

    .landing-content {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr;
        gap: 0px 0px;
        padding: 25px;
    }

    .landing-content-right {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 15px;
    }

    .landing-content-right h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 1.75rem;
        max-width: 500px;
        color: #fff;
        text-align: center;
        margin-top: 25px;
    }

    .landing-content-right button {
        font-family: 'Poppins', sans-serif;
        max-width: 50%;
        background-color: #fff;
        padding: 15px 35px;
        border-radius: 35px;
    }

    /* Footer */

    footer {
        margin: 5px 0 25px 0;
        padding: 0 55px;
    }
}

@media only screen and (max-width: 768px) {
    body {
        background: url(./images/bg-mobile.svg);
        background-color: hsl(257, 40%, 49%);
        background-size: auto;
    }

    /* Navbar */

    .web-title {
        display: flex;
        padding: 50px 35px;
    }

    /* Landing Page Content */

    .landing-content {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr;
        gap: 0px 0px;
        padding: 25px;
    }

    .landing-content-right {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 15px;
    }

    .landing-content-right h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 1.75rem;
        max-width: 500px;
        color: #fff;
        text-align: center;
        margin-top: 25px;
    }

    .landing-content-right button {
        font-family: 'Poppins', sans-serif;
        max-width: 50%;
        background-color: #fff;
        padding: 15px 35px;
        border-radius: 35px;
    }

    /* Footer */

    footer {
        margin: 5px 0 25px 0;
        padding: 0 55px;
    }
}